<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Smoke Stack : Air Quality & Emissions Inventory for Maritime Shipping</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}
    <center>
    <h1> --- Smoke Stack --- </h1>
    <p> Using Automatic Identification System (AIS) to track ship locations, Smoke Stack allows users to query ports and ships throughout the United States. Queries reveal trends in ship visits and air quality to evaluate and track the time that ships spend in ports and the impact they have there. The hope is that companies can use this tool to reduce their public health and environmental footprints, saving money and improving their reputation through demonstrable results enabled by Smoke Stack.</p>
    <p> Developer: Connor Dibble (PhD) has a background in oceanographic research, applied statistical modeling, and data engineering. His work aims to leverage data to help the world economy grow while its impacts on human health and the environment decrease. He is passionate about using big data, statistics, and innovative thinking to tackle big problems. When not sleuthing in data, you'll find him biking, fishing, or sailing on the bay.</p>
    <p><a href="https://github.com/cdibble/"> Connor's Github </a> </p>
    <p><a href="https://linkedin.com/in/connor-dibble/"> Connor's LinkedIn </a> </p>
    </center>
    {% endblock %}
  </body>
</html>
