<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Smoke Stack</title>
     <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
     <script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}
    <center>
    <h1> Select A Port </h1>
      <form id="form1" action="/port_lat_lon" method="POST">
        <select id = "port", name = "port">
          <option value= "{{port}}" selected = "selected">{{port}}</option>
          {% for port in port_list %}
          <option value= "{{port}}">{{port}}</option>
          {% endfor %} 
        </select>
        <input type="submit" value="Submit">
      </form>
    <!-- <p></p> -->
    <div id="result">
      {% if port is defined %}
          You have selected: {{ port }}
          <!-- With lat: {{lat}} and lon: {{lon}} -->
      {% endif %}
    
    <div id="map" class="leaflet-map" style="height: 400px;width: 600px"></div>
    <script type="text/javascript">
      // The first parameter are the coordinates of the center of the map
      // The second parameter is the zoom level
      var map = L.map('map').setView([40, -110], 2);
      // {s}, {z}, {x} and {y} are placeholders for map tiles
      // {x} and {y} are the x/y of where you are on the map
      // {z} is the zoom level
      // {s} is the subdomain of cartodb
      var layer = L.tileLayer('http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, &copy; <a href="http://cartodb.com/attributions">CartoDB</a>'
      });
      // Now add the layer onto the map
      map.addLayer(layer);
      // var customOptions =
      // {
      // // 'maxWidth': '400',
      // // 'width': '200',
      // 'className' : 'popupCustom'
      // }

      {% for _, row in port_df.iterrows() %}
        var marker1 = L.circle([ {{ row["LAT"] }} , {{ row["LON"] }} ], 200, {opacity : 0.9}).addTo(map).bindPopup("<strong ><div style='color: black'>{{ row["PORT_NAME"] }}</div></strong>");
      // marker2.on('click', e => {})
      {% endfor %}
      var marker2 = L.marker([{{ lat }}, {{ lon }}]).addTo(map).bindPopup("<strong><div style='color: black'>{{ port }}</div></strong>").openPopup();
    </script>

    <article id = 'plot1'>
      <img src = {{plot_url}} alt = "plot1" style="width:700px; height:600px" >
    </article>

    <div id = 'makeroom'> </div>

    <article id = 'plot1'>
      <img src = {{total_ship_time_plot_url}} alt = "plot1" style="width:700px; height:600px" >
    </article>    

    <div id = 'makeroom'> </div>
  </center>

<!--     <h1> Use Javascript/Bootstrap buttons </h1>
    <p> Flask is Fun. <span id="additional_text" style="display:none;"> Or maybe not!! </span> </p>
    <button type="button" class="btn btn-primary" id="btn-hide-text">Hide Text</button>
    <button type="button" class="btn btn-secondary" id="btn-show-text">Show Text</button>

    <br>
    <h1> Route examples </h1>
    <textarea rows="4" cols="50" id="user_name"></textarea>
    <button type="button" class="btn btn-primary" id="btn-show-route">Use Route</button>
 -->    {% endblock %}
  </body>
</html>


