<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Smoke Stack</title>
     <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
     <script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}
    <center>
    <h1> Select A Ship </h1>
<!-- new from https://dev.to/brunooliveira/flask-series-part-6-improving-user-input-with-autocomplete-4e06 -->
   <!--  <form method="POST" autocomplete="off">
    <div class='textin'>
        <div class='input-group'>
            <input id="autocomplete" class='form-control' type='text' name='ship' placeholder='Enter ship name...'/>
            <span class="input-group-btn">
              <button id="searchBtn" type='submit' class='btn btn-default'>
                <span class='glyphicon glyphicon-search'></span>
              </button>
            </span>

        </div>
    </div>
    </form> -->
<!-- end new -->
      <form id="form1" action="/ship_compute" method="POST">
        <select id = "ship", name = "ship">
          <option value= {{ship}} selected = "selected">{{ship}}</option>
          {% for ship in ship_list %}
          <!-- <option value= {{ship}} selected = "selected">{{ship}}</option> -->
          <option value= {{ship}}>{{ship}}</option>
          {% endfor %} 
        </select>
        <input type="submit" value="Submit">
      </form>

    <article id = 'plot2'>
      <img src = {{plot_url}} alt = "plot2" style="width:700px; height:500px" >
    </article>
    
    <div class = "hbar"> </div>

    <article id = 'plot3'>
      <img src = {{ship_plot_total_time}} alt = "plot3" style="width:700px; height:500px" >
    </article>

    <div class = "hbar"> </div>




  </center>

<!--     <h1> Use Javascript/Bootstrap buttons </h1>
    <p> Flask is Fun. <span id="additional_text" style="display:none;"> Or maybe not!! </span> </p>
    <button type="button" class="btn btn-primary" id="btn-hide-text">Hide Text</button>
    <button type="button" class="btn btn-secondary" id="btn-show-text">Show Text</button>

    <br>
    <h1> Route examples </h1>
    <textarea rows="4" cols="50" id="user_name"></textarea>
    <button type="button" class="btn btn-primary" id="btn-show-route">Use Route</button>
 -->    {% endblock %}
  </body>
</html>


