<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Flask Parent Template</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/template.css') }}">

    <!-- using files hosted on Flask app -->
    <script type = "text/javascript" src = "{{ url_for('static', filename = 'js/jquery-3.4.1.min.js') }}" ></script>
    <script type = "text/javascript" src = "{{ url_for('static', filename = 'js/windowScript.js') }}" ></script>

    <!-- using files hosted on CDNs -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS -->
<!--     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
 -->    <!-- Optional theme -->
<!--     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
 -->
</head>
  <body>
    <header>
      <div class="container">
        <h1 class="logo"; align="center">Smoke Stack : Emissions Inventories for Maritime Shipping</h1>
        <strong><nav>
          <center>
          <ul class="menu">
            <li><a href="{{ url_for('home') }}">Select Port</a></li>
            <li><a href="{{ url_for('ship_index') }}">Select Ship</a></li>
            <li><a href="{{ url_for('api_doc') }}">API Queries</a></li>
            <li><a href="{{ url_for('about') }}">About</a></li>
          </ul>
        </nav></center></strong>
      </div>
    </header>

{% block content %}
{% endblock %}

 </body>
</html>
